<%= render partial: "new", locals: { new: @task } %>

<h1>Edit task</h1>

<%= form_for @task, method: :patch do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

  <p><%= f.label :description %>
  <%= f.text_area :description %></p>

  <p>
    <%= f.label :completed_at %>
    <%= f.date_field :completed_at %>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>

<p><%= link_to "Cancel - return to task list", tasks_path %></p>
<p><%= link_to "Cancel - return to task details", task_path %></p>
