<h1>all of the tasks</h1>

<ol>
  <% @tasks.each do |t| %>
    <p>
      <li><strong><%= "#{ t.name.capitalize }: " %></strong><%= link_to "Details here", task_path(t) %>
      <%= link_to "Edit task", task_edit_path(t) %>
      <%= link_to "Mark as completed", task_complete_path(t) %>
      <%= link_to "Delete task", task_path(t), method: :delete, data: { confirm: "Are you sure you want to delete the task?" } %></li>
    </p>
    <% end %>
</ol>

<%= link_to "New Task", task_new_path %>
