 <!-- "To do: #{ @id }"

 "Task info: #{ @new_task }" -->

<h1>Task: <%= @task.name %></h1>

<ul>
  <li><strong>Description:</strong> <%= @task.description %></li>
  <li><strong>Completed?</strong>
    <% if @task.completed_at != nil %>
      <% @task.completed = true %>
      Yes
    <% else %>
      <% @task.completed = nil %>
      Not yet
    <% end %>
  <li><strong>Completed at:</strong>
    <% if @task.completed %>
      <%= @task.completed_at %>
    <% else %>
      In progress.
    <% end %>
    </li>
</ul>

<p><%= link_to "Edit task", task_edit_path%></p>
<p>
  <%= link_to "Mark as completed", task_complete_path %>
</p>
<p><%= link_to "Return to full task list", tasks_path %></p>
